In [1]:
from jqdatasdk import *
auth('18161870857','ZTYhyh123123') 
import time
import pandas as pd

auth success

In [2]:
# 设置行列不忽略
pd.set_option('display.max_rows',10000)
pd.set_option('display.max_columns',1000)

In [5]:
# 获取股票财务指标
df = get_fundamentals(query(indicator),statDate='2022')
df.to_csv('data/finance/finance2022.csv')

In [6]:
# 基于盈利指标选股： eps, operating_profit(净利润),roe,inc_net_profit_year_on_year
df = df[(df['eps'] > 0) & (df['roe'] > 10) & (df['inc_net_profit_year_on_year'] > 10)]
df.head()

,id,code,statDate,pubDate,statDate.1,...,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,181745,301059.XSHE,2022-12-31,2023-02-09,2022-12-31,...,NaN,30.5074,NaN,30.5074,NaN
2,181747,301076.XSHE,2022-12-31,2023-02-18,2022-12-31,...,NaN,61.3215,NaN,61.3215,NaN
4,181749,603077.XSHG,2022-12-31,2023-02-21,2022-12-31,...,NaN,25.8958,NaN,26.1171,NaN
10,181755,688082.XSHG,2022-12-31,2023-02-25,2022-12-31,...,NaN,151.0766,NaN,151.0766,NaN
11,181756,000972.XSHE,2022-12-31,2023-02-25,2022-12-31,...,NaN,124.4065,NaN,124.4209,NaN