In [ ]:
from jqdatasdk import *
auth('18161870857','ZTYhyh123123') 
import datetime
import pandas as pd
# 设置行列不忽略
pd.set_option('display.max_rows',10000)
pd.set_option('display.max_columns',1000)

In [9]:
import stock as st

In [10]:
# 调用一只股票的行情数据
code = '000001.XSHG'
data = st.get_single_stock_price(code=code,
                                 time_freq='daily',
                                 start_date='2022-06-30',
                                 end_date='2022-12-30'
                                 )
# 存入csv
st.export_data(data=data,filename=code,type='price')
data.head()

已成功存储至:  C:/Users/吕强/Desktop/quantAnalysis/data/price/000001.XSHG.csv

               open    close     high      low        volume         money
date
2022-06-30  3358.93  3398.62  3417.01  3358.93  3.812432e+10  5.103072e+11
2022-07-01  3400.26  3387.64  3404.05  3378.36  3.504893e+10  4.584353e+11
2022-07-04  3381.82  3405.43  3405.62  3364.09  3.577379e+10  4.893480e+11
2022-07-05  3411.13  3404.03  3424.84  3372.06  4.116997e+10  5.166057e+11
2022-07-06  3391.03  3355.35  3391.03  3333.10  3.846300e+10  4.874747e+11